{{frost-text
  autofocus=autofocus
  disabled=disabled
  hook=hook
  isHookEmbedded=true
  insert-newline=onEnter
  onFocusIn=onFocus
  onFocusOut=onBlur
  onInput=(action 'input')
  placeholder=placeholder
  readonly=readonly
  tabindex=tabindex
  type=type
  value=value
}}

{{frost-button
  id='test'
  hook=(concat hook '-button')
  onClick=(action 'test' value)
  priority='primary'
  size='small'
  text='Test'
}}

<div class="url-icon">
  {{#if urlFormatError}}
    {{frost-icon
      hook=(concat hook '-icon')
      icon='warning'
    }}
  {{/if}}

  {{#if isLoading}}
    {{frost-icon
      hook=(concat hook '-icon')
      icon='loading-ring'
    }}
  {{/if}}

  {{#if error}}
    {{frost-icon
      hook=(concat hook '-icon')
      icon='error'
    }}
  {{/if}}
  {{#if undetermined}}
    {{frost-icon
      hook=(concat hook '-icon')
      icon='warning'
    }}
  {{/if}}
  {{#if success}}
    {{frost-icon
      hook=(concat hook '-icon')
      icon='info'
    }}
  {{/if}}
  <div data-test={{hook (concat hook '-error-text')}}>{{errorMessage}}</div>
</div>
